---
import { languageList } from "../i18n/ui";
import { useTranslation } from "../i18n/utils";

const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslation(
    currentLang as keyof typeof languageList
);
---

<section id="pathSection">
    <div class="flex flex-col items-center justify-center p-0">
        <div class="bg-white mb-4 px-32 py-8">
            <div class="grid grid-cols-4 gap-2 text-orange-600">
                <div class="flex flex-col items-center gap-2">
                    <img
                        src="/imgs/path1.png"
                        alt="Coamco Logo"
                        class="w-32 h-32 mb-8"
                    />
                    <span class="text-lg font-bold">
                        Amplia gama de maquinaria disponible.
                    </span>
                </div>
                <div class="flex flex-col items-center gap-2">
                    <img
                        src="/imgs/path2.png"
                        alt="Coamco Logo"
                        class="w-32 h-32 mb-8"
                    />
                    <span class="text-lg font-bold">
                        Experiencia en grandes proyectos
                    </span>
                </div>
                <div class="flex flex-col items-center gap-2">
                    <img
                        src="/imgs/path3.png"
                        alt="Coamco Logo"
                        class="w-32 h-32 mb-8"
                    />
                    <span class="text-lg font-bold">
                        Soporte tecnico especializado
                    </span>
                </div>
                <div class="flex flex-col items-center gap-2">
                    <img
                        src="/imgs/path4.png"
                        alt="Coamco Logo"
                        class="w-32 h-32 mb-8"
                    />
                    <span class="text-lg font-bold">
                        Alquiler flexible y venta garantizada
                    </span>
                </div>
            </div>
        </div>

        <div class="bg-black text-white p-32 text-center">
            <p class="text-2xl mb-4 px-32">
                Nuestra misión es apoyar y mejorar la industria de la
                construcción y el transporte, introduciendo al mercado panameño
                equipos de calidad y alto rendimiento, que permitan brindar un
                mejor servicio y a la vez reducir los costos de operación.
            </p>
            <div class="grid grid-cols-3 gap-16 text-3xl mt-16">
                <span class="p-8">+30 AÑOS DE EXPERIENCE</span>
                <span class="p-8">+100 DE COLABORADORES CAPACITADOS.</span>
                <span class="p-8">MÁS DE +1000 PROYECTOS AL AÑO</span>
            </div>
        </div>
    </div>
</section>
